<div class="container">
  <div class="content">
    <h1>Splash</h1>
    <input type="text" placeholder="Email please" #email>
    <button id="subButton" (click)="subscribe(email.value)" >Subscribe</button>
    <div class="loading-overlay" *ngIf="isLoading"></div>
    <div class="loading-circle" *ngIf="isLoading">
      <div class="loader"></div>
    </div>
    <span *ngIf="subed">Please subscribe to get marked pdf as email</span>
    <input type="file" id="fileInput" (change)="onFileSelected($event)">
    <input type="text" placeholder="Enter text here" #marker>
    <button id="makeButton" (click)="uploadFileToBackend(marker.value, email.value)" >Mark</button>

  </div>
</div>
